registry=https://registry.npmjs.org/
link-workspace-packages=true
onlyBuiltDependencies[]="@prisma/client"
onlyBuiltDependencies[]="@prisma/engines"
onlyBuiltDependencies[]="prisma"
onlyBuiltDependencies[]="esbuild"
